<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERSECURITY - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="Home.css">
</head>
<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="#">USERSECURITY</a>
            </div>
            <ul>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/login" class="button-class">Login</a></li>
            </ul>
        </div>
    </nav>
    
    <header>
        <div class="hero">
            <h1>"The candle forgets its own fire while melting for the light."</h1>
            <p>- Learnet</p>
            <div class="btns">
                <button>Interesting</button>
                <button>Quotes</button>
            </div>
        </div>
    </header>
    
 
    <footer>
        <p>&copy; 2025 UK. All rights reserved.</p>
    </footer>
</body>
</html>
